{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "my-blob-svc",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api.demo.tokend.io",
      "description": "TokenD Developer Environment"
    }
  ],
  "paths": {
    "/CreateBlob": {
      "post": {
        "tags": [
          "Blobs"
        ],
        "summary": "Create blob",
        "operationId": "createBlob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/Blob"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blob created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Blob"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/DeleteBlob": {
      "delete": {
        "tags": [
          "Blobs"
        ],
        "summary": "Delete blob by ID",
        "operationId": "deleteBlobById",
        "parameters": [
          {
            "$ref": "#/components/parameters/BlobIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Blob deleted successfully"
          },
          "404": {
            "description": "Blob isn't found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/GetBlobById": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "Get blob by ID",
        "operationId": "getBlobById",
        "parameters": [
          {
            "$ref": "#/components/parameters/BlobIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Blob retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blob"
                }
              }
            }
          },
          "404": {
            "description": "Blob isn't found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/GetBlobList": {
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "Get list of blobs",
        "operationId": "getBlobList",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageLimitParam"
          },
          {
            "$ref": "#/components/parameters/pageNumberParam"
          },
          {
            "$ref": "#/components/parameters/sortingParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobList"
                }
              }
            }
          },
            "500": {
              "description": "Internal server error",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Blob": {
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "blobs"
            ]
          },
          "attributes": {
            "type": "object",
            "format": "json"
          }
        }
      },
      "BlobCreationRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Blob"
          }
        }
      },
      "BlobList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Blob"
        }
      },
      "Errors": {
        "description": "Standard JSON:API error",
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "description": "Non empty array of errors occurred during request processing",
            "items": {
              "type": "object",
              "required": [
                "title",
                "status"
              ],
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title is a short, human-readable summary of the problem",
                  "example": "Bad Request"
                },
                "detail": {
                  "type": "string",
                  "description": "Detail is a human-readable explanation specific to this occurrence of the problem",
                  "example": "Request body was expected"
                },
                "status": {
                  "type": "integer",
                  "description": "Status is the HTTP status code applicable to this problem",
                  "example": 400,
                  "enum": [
                    400,
                    401,
                    403,
                    404,
                    409,
                    500
                  ]
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "BlobIdParameter": {
        "name": "blobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "pageLimitParam": {
        "in": "query",
        "name": "page[limit]",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 15,
          "description": "Numbers of items per page to return."
        }
      },
      "pageNumberParam": {
        "in": "query",
        "name": "page[number]",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "The number of a page to return."
      },
      "sortingParam": {
        "in": "query",
        "name": "page[order]",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc",
          "description": "Order of records on the page. If sortingParam is not specified, order of records is by default sorted by ID."
        }
      }
    }
  }
}
